<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
<meta charset="utf-8">
<title>List of Pet Owners</title>
</head>
<body>

	<h2 th:text="'Pet Owner Index Page'">Index Page</h2>

	<table class="table table-striped">
		<thead>
			<tr>
				<th style="width: 150px;">ID</th>
				<th style="width: 200px;">FirstName</th>
				<th style="width: 120px;">LastName</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="owner : ${owners}">
				<td th:text="${owner?.id}">1</td>
				<td th:text="${owner?.firstname}">Test</td>
				<td th:text="${owner?.lastname}">Name</td>
			</tr>
		</tbody>
	</table>
</body>
</html>