<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
<meta charset="utf-8">
<title>List of Vets</title>
</head>
<body>

	<h2 th:text="'Vets Index Page'">Index Page</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>FirstName</th>
				<th>LastName</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vet : ${vets}">
				<td th:text="${vet?.id}">1</td>
				<td th:text="${vet?.firstName}">Test</td>
				<td th:text="${vet?.lastName}">Name</td>
			</tr>
		</tbody>
	</table>
</body>
</html>